<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title> NYSL | Home </title>
     <!--viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">


    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    
    <!--Css-->
    <link rel="stylesheet" href="css/style.css">

    <!--w3.css ESTO ES LO QUE LE DA EL FORMATO -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
  
    
</head>
	
<body>
    <div class = "container h-100 " id="app">
        
            <!--Navigation bar with dropdown menu-->
        <nav class="navbar">
            <div class="container-fluid" id="navContainer">
               
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a v-on:click="menu='home'"><img src="images/home.png"></a></img></a></li>
                        <li class="dropdown">  
                                          
                        <li><a v-on:click="menu='schedule'"><img src="images/schedule.png"></a></img></a></li>
                        <li><a v-on:click="menu='about'"><img src="images/about.png"></a></img></a></li>
                        <li><a v-on:click="menu='contact'"><img src="images/contact.png"></a></img></a></li>
                        <li><a v-on:click="menu='contact'"></a></img></a></li>
                        <li><a v-on:click="menu='contact'"></a></img></a></li>
                        <li><a v-on:click="menu='contact'"></a></img></a></li>
                        <li><a v-on:click="menu='contact'"></a></img></a></li>
                        <li><a v-on:click="menu='contact'"></a></img></a></li>
                        <li><a v-on:click="menu='contact'"></a></img></a></li>
                        <li><a v-on:click="menu='contact'"></a></img></a></li>
                        <li><a v-on:click="menu='contact'"></a></img></a></li>
                        <li><a v-on:click="menu='contact'"></a></img></a></li>
                       
                        <li><a v-on:click="menu='login'"><img src="images/user.png"></a></img></a></li>
                    
                    </ul>
                </div>
            </div>
        </nav> 
        
            <!--Header--> 
            <header class="bgimg w3-display-container w3-grayscale-min" id="banner">
                    <div class="bgimg w3-display-container">
                        <img src="images/header3.png" alt="banner" width="100%" height="auto">
                    </div>
                
            </header>      
      

        <!-- //HOME// -->
        <div v-show="menu === 'home'" id="home" class="w3-container menu w3-padding-48 w3-card" style="margin-top:20px">
            <h3 class="text-center w3-text-white" ><strong>UPCOMING EVENTS</strong></h3>
            <div>
                <h4 class="text-center w3-text-white">August 4</h4>
                <p class="text-center w3-text-white">Northside Youth Soccer League's Fundraiser.</p>

                <h4 class="text-center w3-text-white">August 16</h4>
                <p class="text-center w3-text-white">Season Kick-off: Meet the Teams.</p>
        
                <h4 class="text-center w3-text-white">September 1</h4>    
                <p class="text-center w3-text-white"> First Game of the Season (Check Game Schedule for details).</p>
            </div>
        
        <!-- More information botton -->
            <button v-on:click="menu = 'schedule'" class="w3-button w3-black w3-margin-bottom"> Schedule and Locations ></button>
        </div>
      
        
        <!-- //ABOUT US// -->
        <div v-show="menu === 'about'" id="about">
                <!-- Back Button -->
            <button v-on:click="menu = 'home'" class="w3-button w3-black w3-margin-bottom">&lt;Back</button>
                
            <div class="w3-container menu w3-padding-48 w3-card w3-content" style="max-width:700px" id="about">
                    
            <h3 class="text-center w3-text-white"><strong>ABOUT US</strong></h3>    
            <h4 class="w3-text-white"><strong>Mission</strong></h4>
            <p class="text-justify w3-text-white">To support young athletes living in Chicago's Northside neighborhoods, who have an interest in learning and playing soccer, specifically those skills around team cooperation and good sportsmanship.</p>
            
            <h4 class="w3-text-white"><strong>Vision</strong></h4>
            <p class="text-justify w3-text-white">The Northside Youth Soccer League aspires to develop strong, well-rounded, and mindful athletes through the building of character, self-discipline, and leadership.</p>
            
            <h4 class="w3-text-white"><strong>General information</strong></h4>
            <p class="text-justify w3-text-white">The Northside Youth Soccer League was established in 1996 to provide athletes residing in Chicago's northside neighborhoods an environment in wich to learn and play soccer. To be a member of NYSL, you must be between the ages of 4 - 12 and reside in a Chicago northside neighborhood. NYSL is ran by a small full-time staff, and relies on the generous volunteer time of parents and previous league members.</p>
            </div>
        </div>
        
        
        <!-- //GAMES SCHEDULED VIEWPORT// -->                  
            <div v-show="menu === 'schedule'" id="schedule">
                <!-- Back Button -->
                <button v-on:click="menu = 'home'" class="w3-button w3-black w3-margin-bottom">&lt;Back</button>
                
                <div class="w3-container menu w3-padding-48 w3-card w3-content w3-text-white" style="max-width:700px" id="schedule">
                <h3 class="text-center w3-text-white"><strong> GAMES SCHEDULE </strong></h3>
                    <ul>
                        <li v-for="game in games">
                             <strong>{{game.team1}} vs. {{game.team2}}</strong> <br>
                            {{game.date}} | {{game.time}}
                            <button :id="game.id" v-on:click="gameDetails(game.id)" class="w3-btn w3-block w3-text-white w3-black">More info</button>
                          </li>
                    </ul>
                </div>
            </div>
 
        <!-- //Game Details VIEWPORT 1 COLUMNA// -->                
            <div v-show="menu === 'game-detail'" id="game-details">
                <!-- Back Button -->
                <button v-on:click="menu = 'schedule'" class="w3-button w3-black w3-margin-bottom">&lt;Schedule</button>
                
                <div class="w3-container menu w3-padding-48 w3-card w3-content" style="max-width:700px" id="game-details">
                <h3 class="text-center"><strong> GAMES DETAILS</strong></h3>
                <div v-if="matchId != ''">
                    <div v-for="game in games" v-if="game.id == matchId">
                        <h1 class="text-center w3-text-white">{{game.team1}} vs. {{game.team2}}</h1>
                        <h4 class="text-center">{{game.date}} | {{game.time}}</h4><br>
                        <h4 class="text-center"><strong>{{game.location}}</strong></h4><br>
                        {{locations.address}}    
                        <div v-for="loc in locations" >
                                <loc :location="loc.embedMap" v-if="loc.name == game.location"></loc>
                        </div>
                    </div>
                </div>      
            </div>
                <p><br><strong>Facility Type:</strong> Outdoor</p>
                <p><strong>Additional Information:</strong> If deemed necessary by NYSL, games may be shortened or cancelled due to extreme weather conditions.</p>     
            </div> 
      
        
        <!-- GAMES SCHEDULE/ LANDSCAPE / VISTA PC-->
           <div v-show="menu === 'schedule'" id="schedule2">
                <!-- Back Button -->
                <button v-on:click="menu = 'home'" class="w3-button w3-black w3-margin-bottom">&lt;Back</button>
                <div class="w3-row">
               <div class="w3-col s6 w3-container menu w3-padding-48 w3-card w3-content w3-text-white" style="max-width:700px" id="schedule2">
                <h3 class="text-center"><strong> GAMES SCHEDULE</strong></h3>
                    <ul>
                        <li v-for="game in games">
                            <strong>{{game.team1}} vs. {{game.team2}}</strong> <br>
                            {{game.date}} | {{game.time}}
                            <button :id="game.id" v-on:click="matchId = game.id" class="w3-btn w3-block w3-black">More info</button>
                        </li>
                    </ul>
                </div>
                <div>
                
                <div class="w3-col s6 w3-container menu w3-padding-48 w3-card w3-content w3-text-white" style="max-width:700px" id="game-details">
                <h3 class="text-center"><strong> GAMES DETAILS</strong></h3>
                <div v-if="matchId != ''">
                    <div v-for="game in games" v-if="game.id == matchId">
                        <h1 class="text-center">{{game.team1}} vs. {{game.team2}}</h1>
                        <h4 class="text-center">{{game.date}} | {{game.time}}</h4><br>
                        <h4 class="text-center"><strong>{{game.location}}</strong></h4><br>
                        {{locations.address}}    
                        <div v-for="loc in locations" id="mapa">
                                <loc :location="loc.embedMap" v-if="loc.name == game.location" ></loc>
                        </div>
                    </div>
                </div>      
            </div>    
            </div>
               </div>
                
            </div>
 
    
        
        
        
        <!-- //CONTACT// -->
        <div v-show="menu === 'contact'" id="contact">
                <!-- Back Button -->
            <button v-on:click="menu = 'home'" class="w3-button w3-black w3-margin-bottom">&lt;Back</button>
                
            <div class="w3-container menu w3-padding-48 w3-card w3-content" style="max-width:700px" id="contact">
            
            <h3 class="text-center w3-text-white"><strong>CONTACT US</strong></h3>
            <div class ="w3-text-white">
            <p><strong>Please email us at:</strong></p>
            <p class="far fa-envelope" style="font-style: italic; color:lightblue"> <a href="mailto:nysl@chisoccer.org">nysl@chisoccer.org</a>
          <p><strong>We will reply to your email as soon as we can.</strong></p>
            </p>
          

            </p>
          </div>
          </div>
        </div>
        
        
        <!-- LOGIN -->
        <div v-show="menu === 'login'" id="login">
            <!-- Back Button -->
        <button v-on:click="menu = 'home'" class="w3-button w3-black w3-margin-bottom">&lt;Back</button>
        <div class="w3-container menu w3-padding-48 w3-card w3-content" style="max-width:700px" id="login">
            <form>
        <div class="containerLogin">
            <label class="w3-text-white" ><b>Email</b></label>
            <input type="email" placeholder="example@example.com" name="uname" required>
        
            <label class="w3-text-white" ><b>Password</b></label>
            <input type="password" placeholder="**********" name="psw" required>
        
            <button type="submit">Login</button>
            <label class="w3-text-white">
              <input  type="checkbox" checked="checked" name="remember"> Remember me
            </label>

            <div  style="background-color:#f1f1f1; width: 100px">
                <p>Forgot password?</a></p>
              </div>
            
          </div>
        
         
        </form>
    </div>
      

        </p>
      </div>
      </div>
    </div>






        <!-- Footer -->
        <footer class="col-md-12 w3-container w3-padding-16 w3-center w3-opacity w3-light-grey">
                    <p class="w3-medium"> ©2019 NYSL | All the rights reserved </p>
        </footer>
          
    </div> <!-- End Page Content -->                   
        
        <!-- scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> <!-- jQuery -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>  <!-- Bootstrap 4 Latest compiled JS -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> <!-- Vue.js -->
        <script src="scripts/nysldata.js"></script>
        <script src="./scripts/main.js"></script>
</body>
</html>